.accordionWrapper{
    width:500px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border:1px solid gray
}
.accordionLabel{
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: center;
    justify-content: space-between;
    border:none;
    outline: none;
    padding:1rem;
    background-color: #CC0000;
    color:white;
    font-size: large;
}
